<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <!--  https://stackoverflow.com/questions/48248832/stylesheet-not-loaded-because-of-mime-type -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <meta charset="utf-8" />
    <title>Tic tac toe</title>
    <style>
        td {
            border: 1px solid rgb(0, 0, 0);
        }
    </style>
</head>

<body>
    <table id="board">

    </table>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", init);
        } else {
            init();
        }

        function init() {

            var color = "white";

            var socket = io.connect('<%= serverAdress %>');

            var init = false;

            var board = new Array(3);

            for (var i = 0; i < board.length; i++) {
                board[i] = new Array(3);
            }

            toastr.options = {
                "positionClass": "toast-top-full-width",
                "preventDuplicates": true,
                "timeOut": "1500",
            }

            socket.on('message', message => {
                toastr.info(message);
            });

            socket.on('playOk', move => {
                board[move.x][move.y].style.backgroundColor = move.color;
                if ((move.color == "red" && color == "green") || (move.color == "green" && color == "red")) {
                    toastr.info("It's your turn !");
                }
            });

            socket.on('board', board => {
                let x = 0;
                let y = 0;
                board.split().forEach(el => {
                    if (x == 3) {
                        y++;
                        x = 0;
                    }
                    if (el == "r") {
                        board[x][y].color = "red";
                    } else if (el == "g") {
                        board[x][y].color = "green";
                    } else {
                        board[x][y].color = "white";
                    }
                    x++;
                });
            });

            socket.on('setColor', message => {
                color = message;
                if (color == "red") {
                    toastr.info("It's your turn !");
                }

                if (color != "white" && !init) {
                    init = true;
                    let width = window.innerWidth ||
                        document.documentElement.clientWidth ||
                        document.body.clientWidth;

                    let height = window.innerHeight ||
                        document.documentElement.clientHeight ||
                        document.body.clientHeight;

                    height *= 0.9;
                    width *= 0.9;

                    for (let i = 0; i < 3; i++) {
                        let tr = document.createElement('tr');
                        for (let j = 0; j < 3; j++) {
                            let td = document.createElement('td');
                            td.id = `${i},${j}`;
                            td.className = 'squared';
                            td.addEventListener('click', (event) => {
                                var move = {
                                    color: color,
                                    x: i,
                                    y: j
                                };
                                socket.emit('play', move);
                            });
                            if (width < height) {
                                td.style.height = `${width/3}px`;
                                td.style.width = `${width/3}px`;
                            } else {
                                td.style.height = `${height/3}px`;
                                td.style.width = `${height/3}px`;
                            }
                            board[i][j] = td;
                            tr.appendChild(td);
                        }
                        document.getElementById('board').appendChild(tr);
                    }

                    let squares = document.querySelectorAll('.squared');



                }
            });
        }
    </script>
</body>

</html>