<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Tic tac toe</title>
    <style>
        html,
        table,
        tbody,
        tr,
        body {
            width: 90%;
        }

        .squared {
            width: 33%;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <table id="board">

    </table>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        if (document.readyState === "loading") {
            document.addEventListener("DOMContentLoaded", init);
        } else {
            init();
        }

        function init() {
            var color = "white";

            var socket = io.connect('<%= serverAdress %>');

            var nickName = prompt('What is your nickname ?');

            socket.emit('new_user', nickName);

            socket.on('message', message => {
                alert(`Le serveur a un message pour vous : ${message}`);
            });

            socket.on('setColor', message => {
                color = message;
                if (color != "white") {

                    for (let i = 0; i < 3; i++) {
                        let tr = document.createElement('tr');
                        for (let j = 0; j < 3; j++) {
                            let td = document.createElement('td');
                            td.id = `${i},${j}`;
                            td.className = 'squared';
                            td.addEventListener('click', (event) => {
                                event.target.style.backgroundColor = color;
                            });
                            tr.appendChild(td);
                        }
                        document.getElementById('board').appendChild(tr);
                    }

                    let squares = document.querySelectorAll('.squared');
                    let width = squares[0].clientWidth;

                    squares.forEach(el => {
                        el.style.height = `${width}px`;
                    });
                }
            });
        }
    </script>
</body>

</html>