<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Tic tac toe</title>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('<%= serverAdress %>');

        var nickName = prompt('What is your nickname ?');

        socket.emit('new_user', nickName);

        socket.on('message', message => {
            alert(`Le serveur a un message pour vous : ${message}`);
        });
    </script>
</body>

</html>